@use '../utils/breakpoints';

.footer-section {
    background: #d7f5f5;
    padding: 1rem 0;
}

.footerbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > .title {
        font-style: italic;
        color: #3180f5;
        font-size: 1.5rem;
    }

    // for large phone and tablets
    @include breakpoints.media-breakpoint-up( 600px ) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.secondary-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}